<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <video style="height: 400px; width: 700px" controls autoplay></video>
    <source src="http://localhost:3000/rendervideo" type="video/mp4" />
  </body>
</html>
